.git
.gitignore
.env
.env.*
node_modules
vendor
tests
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
README.md
phpunit.xml
